<h1>Enter Magzine Details</h1>

<!-- <div mat-dialog-content>
  My favorite animal is:
  <ul>
    <li>
      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda
    </li>
    <li>
      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn
    </li>
    <li>
      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion
    </li>
  </ul>
</div> -->
<div mat-dialog-content>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label [style.color]="'purple'">Magzine_Name : </mat-label>
    <input matInput>
  </mat-form-field><br>
<br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label [style.color]="'purple'">Magzine_Price : </mat-label>
    <input matInput>
  </mat-form-field><br>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label [style.color]="'purple'">Magzine_Type : </mat-label>
    <input matInput>
  </mat-form-field><br>
<br>
  

  <div mat-dialog-actions color="primary">
    <button mat-button (click)="regMagzine()" color="primary">OK </button>
    <!-- <button mat-button  cdkFocusInitial>Ok</button> -->
  </div>
  </div>