
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Mia" #input>
</mat-form-field>
<br>


<table class="example-full-width" cellspacing="0"><tr>
<td><mat-form-field class="example-full-width" appearance="fill">
    <mat-label [style.color]="'green'">Magzine_ID</mat-label>
    <input matInput>
  </mat-form-field></td>
  <td><mat-form-field class="example-full-width" appearance="fill">
    <mat-label [style.color]="'green'">Magzine_Name</mat-label>
    <input matInput>
  </mat-form-field></td>
  <td><mat-form-field class="example-full-width" appearance="fill">
    <mat-label [style.color]="'green'">Magzine_Price</mat-label>
    <input matInput>
  </mat-form-field></td>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label [style.color]="'green'">Magzine_Type</mat-label>
    <input matInput>
  </mat-form-field>
  
  
  <td><button mat-raised-button >Add</button></td>
</tr></table>
<br>
  
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    
    <ng-container matColumnDef="mag_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [style.color]="'blue'" > Magzine_ID </th>  
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.mag_id}} </td>
    </ng-container>
    
    <!-- Name Column -->
    
    <ng-container matColumnDef="mag_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [style.color]="'blue'"> Magzine_Name </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.mag_name}} </td>
    </ng-container>

    <!-- dob Column -->
    <ng-container matColumnDef="mag_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [style.color]="'blue'"> Magzine_Price</th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.mag_price}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="mag_type" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header [style.color]="'blue'"> Magzine_Type </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.mag_type}} </td>
    </ng-container>


    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
        <button (click)="removeUser(row.mag_name)" mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[2, 3, 5,10]" showFirstLastButtons></mat-paginator>