
  ng-container{
    color: blue;
  }
 div{
   background-color: rgb(131, 95, 160);
 }
 .btn{
  margin: 3% 17% 1% 81%;
  font-size:1.2em;
  height:2.5em;
  background-color:#5680e9;
  color: white;
}
table {
  width:80%;
  margin: 0% 10% 0% 10%;
}
mat-paginator{
  width:80%;
  margin: 0% 10% 4% 10%;
}
.work{
  margin: 2% 10% 0% 10%;
  width: 80%;
}