.demo-table {
  width:90%;
  margin-left:5%;
  margin-right: 10%;
  margin-top:3%;      
}

.mat-table{
width:100%;
margin-right: 50%;
}

th{
text-align-last: left;
}
td{
text-align-last: justify;
}

ng-container{
    color: blue;
  }

.btn{
  margin: 3% 17% 1% 81%;
  font-size:1.2em;
  height:2.5em;
  background-color:#5680e9;
  color: white;
}

mat-card {
  width:87%;
  margin-left:5%;
  margin-right:5%;
  margin-top:3%;
  
}