.mat-stepper-vertical {
    margin-top: 10px;
  }
  
  .mat-form-field {
    margin-top: 8px;
    width:30%;
    height: 10%;
  }

  .mat-card{
    margin-top:10%;
    margin-left:5%;
    margin-right:5%;
  }