<h1 style="margin: 2% 0% 0% 6%;"><span>User Profile</span></h1>

  <mat-card>
  <div fxLayout="column" fxFlex="18">
    <div id="circle"></div>
      <button mat-stroked-button class="editprofbtn">EDIT PROFILE PICTURE </button>
    <div class="vl"></div>
  </div>
<div fxLayout="column" fxFlex="82">
        <button mat-stroked-button style="margin-left: 90%;" class="btn">Edit Profile</button>
        <table>
		<tr>
      <td>
          <mat-form-field appearance="outline" style="width: 40%;">
		      <input matInput placeholder="Enter Title" >
	        </mat-form-field></td>
      <td><mat-form-field appearance="outline" style="width: 37%; padding-left: 3%;">
          <input matInput placeholder="Enter Title" >
          </mat-form-field></td></tr>
	  <tr><td><mat-form-field appearance="outline">
		<mat-label>Description</mat-label>
		<input matInput placeholder="Write a short description">
	  </mat-form-field>
  </td></tr>
  </table>
</div>
  
   

</mat-card>




<!-- <button mat-raised-button><mat-icon>add</mat-icon> ADD NEW ADDRESS </button>
<mat-vertical-stepper fxLayout="column" [linear]="true" #stepper class="example-card mat-elevation-z4">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" style="font-size: 1em;" >
        <ng-template matStepLabel>Shipping Address</ng-template>
        <mat-form-field style="width: 40%;">
          <input matInput placeholder="First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field style="width: 45%; padding-left: 10%">
          <input matInput placeholder="Mobile" formControlName="firstCtrl" required>
        </mat-form-field>
        
        <mat-form-field style="width: 95%;">
          <input matInput placeholder="Address(House No, Building, Street, Area" formControlName="firstCtrl" required>
        </mat-form-field><br>
        <mat-form-field style="width: 40%;">
          <input matInput placeholder="Locality/Town" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field style="width: 45%; padding-left: 10%">
          <input matInput placeholder="City/District" formControlName="firstCtrl" required>
        </mat-form-field><br>
        <mat-form-field style="width: 40%;">
          <input matInput placeholder="Pincode" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field style="width: 45%; padding-left: 10%">
          <input matInput placeholder="State" formControlName="firstCtrl" required>
        </mat-form-field>
       
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Payment Details</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper> -->
  
