mat-card{
    max-width:90%;
    height:260px;
    margin: 1% 5% 3% 5%;
}

#circle {
    width: 160px;
    height: 160px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    margin: 10px 30px 25px 30px; 
    background: rgb(199, 247, 243);
  }

  .vl {
    border-left: 2px solid rgb(231, 231, 231);
    height: 100%;
    position: absolute;
    left: 18%;
    margin-left: -3px;
    top: 0;
  }

.btn{
    height:42px;
    margin-left: 25px; 
}

.editprofbtn{
    height:42px;
    margin-left: 25px;
    margin-right: 25px;
}
/* mat-vertical-stepper{
    width: 60%;
    margin: 3% 20% 5% 20%;
}

mat-form-field{
    font-size: 1.2em;
}

ng-template{
    font-size: 1.2em;
} */