<mat-toolbar class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded">&nbsp;<mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">&nbsp; Employee Dashboard</h1>
    <mat-form-field style="margin-left: 68%; width: 15%; color: azure;"><input matInput type="search" value="search here"><mat-icon class="search">search</mat-icon></mat-form-field>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
					<mat-nav-list>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;" routerLink="/employee/employees">&nbsp; Profiles</span>
							<mat-icon mat-list-icon>group</mat-icon>
						</mat-list-item>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;" routerLink="/employee/magazines">&nbsp; Magazines</span>
							<mat-icon mat-list-icon>import_contacts</mat-icon>
						</mat-list-item>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;">&nbsp; Campaigns</span>
							<mat-icon mat-list-icon>new_releases</mat-icon>
						</mat-list-item>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;">&nbsp; Statistics</span>
							<mat-icon mat-list-icon>equalizer</mat-icon>
						</mat-list-item>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;" [routerLink]="['/login']">&nbsp; Logout</span>
							<mat-icon mat-list-icon>power_settings_new</mat-icon>
						</mat-list-item>
      </mat-nav-list>
</mat-sidenav>
<router-outlet></router-outlet>
</mat-sidenav-container>
