<button mat-raised-button class="btn" (click)="showhide()">Add Campaigns</button>
    <mat-card *ngIf="show" class="mat-elevation-z4">
        <mat-card-title style="padding: 0.5em 0.5em 0.5em 2em;" [style.color]="'purple'"> Set Campaigns Details Here</mat-card-title><br>
        <div>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label [style.color]="'black'">Festival Name</mat-label>
              <input matInput placeholder="Ex. Holi" [(ngModel)]="campaign.festname">
            </mat-form-field>
          <br>
            
      
            <mat-form-field class="example-full" appearance="outline">
              <mat-label [style.color]="'black'">Offer Start date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="campaign.startdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            

            <mat-form-field class="example-full" appearance="outline">
              <mat-label [style.color]="'black'">Offer End date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="campaign.enddate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full" appearance="outline">
              <mat-label [style.color]="'black'">Offer</mat-label>
              <mat-select >
                <mat-option value="10%">10%</mat-option>
                <mat-option value="15%">15%</mat-option>
                <mat-option value="30%">30%</mat-option>
                <mat-option value="50%">50%</mat-option>
              </mat-select>
            </mat-form-field>
           
            <mat-form-field class="example-full" appearance="outline">
              <mat-label [style.color]="'black'">Status</mat-label>
              <mat-select >
                <mat-option value="Active">Active</mat-option>
                <mat-option value="Deactive">Deactive</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label [style.color]="'black'">Add Image</mat-label>
              <input matInput>
              <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" >
            </mat-form-field>
          </form>
          </div>
    <button mat-raised-button color="accent" (click)="regCam()" style="margin-left:90%;">Save</button>
    </mat-card>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="festname">
        <th mat-header-cell style="background-color: rgb(169, 220, 233);"*matHeaderCellDef mat-sort-header [style.color]="'blue'" matInput (keyup)="applyFilter($event.target.value)" #input> Festival Name </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.festname}} </td>
      </ng-container>
     
      <ng-container matColumnDef="startdate">
        <th mat-header-cell style="background-color: rgb(169, 220, 233);" *matHeaderCellDef mat-sort-header [style.color]="'blue'"> Start Date </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.startdate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="enddate">
        <th mat-header-cell  style="background-color: rgb(169, 220, 233);"*matHeaderCellDef mat-sort-header [style.color]="'blue'"> End Date</th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.enddate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="offer">
        <th mat-header-cell style="background-color: rgb(169, 220, 233);" *matHeaderCellDef mat-sort-header [style.color]="'blue'"> Offer % </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.offer}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell  style="background-color: rgb(169, 220, 233);"*matHeaderCellDef mat-sort-header [style.color]="'blue'"> Status</th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.status}} </td>
      </ng-container>
    
    
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell style="background-color: rgb(169, 220, 233);"*matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button (click)="removeCam(row.festname)" mat-icon-button color="warn">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 15,20]" showFirstLastButtons></mat-paginator>