<!-- <p>campaigns works!</p> -->
<div class="card">
    <table>
      <tr>
        <td style="padding: 2em;">
  <mat-card class="example-card mat-elevation-z6">
    <img mat-card-image src="../../../assets/Images/holi.jpg" >
    <mat-card-content>
        <h2> Holi<br> Start Date:22-Aug-2021 <br> End Date: 28-Aug-2021 </h2>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;"> SET ACTIVE</button>
    </mat-card-actions>
  </mat-card>
      </td>
      <td style="padding: 2em;">
  <mat-card class="example-card mat-elevation-z6">
    <img mat-card-image src="../../../assets/Images/diw.jpg" style="max-height: 430px; max-width: 480px;">
    <h2> Diwali<br><div> Start Date:22-Aug-2021 <br> End Date: 28-Aug-2021 </div></h2>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;">SET ACTIVE</button>
    </mat-card-actions>
  </mat-card>
</td>
<td style="padding: 2em;">
    <mat-card class="example-card mat-elevation-z6">
      <img mat-card-image src="../../../assets/Images/onam.jpg" style="max-height: 430px; max-width: 480px;">
      <h2>Onam<br> Start Date:22-Aug-2021 <br> End Date: 28-Aug-2021 </h2>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;">SET ACTIVE</button>
      </mat-card-actions>
    </mat-card>
  </td>
</tr>

<tr>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../../assets/Images/ugadi.jpg " style="max-height: 430px; max-width: 480px;">
<h2> Ugadi<br> Start Date:22-Aug-2021 <br> End Date: 28-Aug-2021 </h2>
<mat-card-actions>
<button mat-raised-button color="accent"  (click)="openDialog()" style="font-size: 1.25em;">SET ACTIVE</button>
</mat-card-actions>
</mat-card>
</td>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../../assets/Images/Merry.jpg" style="max-height: 430px; max-width: 480px;">
<h2> Christmas <br>Start Date:22-Aug-2021 <br> End Date: 28-Aug-2021 </h2>
<mat-card-actions>
<button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;">SET ACTIVE</button>
</mat-card-actions>
</mat-card>
</td>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../../assets/Images/da.jpg" style="max-height: 430px; max-width: 480px;">
<h2> Dussehra<br> Start Date:22-Aug-2021 <br> End Date: 28-Aug-2021 </h2>
<mat-card-actions>
<button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;">SET ACTIVE</button>
</mat-card-actions>
</mat-card>
</td>
</tr>


</table>
</div>

<router-outlet></router-outlet>