<div class="abc" style="height: 90vh;" >
<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Artist Dashboard</h1>
</mat-toolbar>
    <div>
<div class="jumbotron text-center" >
   
   
  
  <div class="container" style="align-items: center;">
      <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
    <div class="form-group" style="background-color: white;">
          <label for="email">Description:</label>
          <angular-editor [placeholder]="'Enter text here...'" formControlName="description"></angular-editor>
          <div *ngIf="formdata.controls.description.errors && formdata.controls.description.touched" class="error">description is required(Max 400 - Min 5).</div>
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
  </div>
</div>