.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1% 9% 3% 9%;
}

  .container{
    width: 360px;
    max-width: 400px;
    max-height: 500px;
    /* margin: 3% 1% 1% 1%;  */
  }

  .work{
    margin: 2% 10% 0% 10%;
    width: 80%;
  }

  mat-card {
    max-width: 500px;
    margin: 1em auto;
    text-align: center;
    max-height: 850px;
}

.image , .elements {
  display: inline-block;
  vertical-align: top;
  width:50%;
}

button{
  background-color: rgb(144, 255, 144);
  width:100px;
}