
<!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Mia" #input>
</mat-form-field> -->
<br>
<mat-toolbar class="work" style="background-color:rgba(184, 229, 255, 0.644)">
  <h1 style="margin-left: 42%; font-size: 1.2em;">EMPLOYEES</h1>
</mat-toolbar>
<br><table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="empid">
        <th mat-header-cell style="background-color: rgb(169, 220, 233);" *matHeaderCellDef mat-sort-header [style.color]="'blue'"> EmployeeID </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="username">
        <th mat-header-cell style="background-color: rgb(169, 220, 233);"*matHeaderCellDef mat-sort-header [style.color]="'blue'"> Name </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.username}} </td>
    </ng-container>

    <!-- dob Column -->
    <ng-container matColumnDef="dob">
        <th mat-header-cell style="background-color: rgb(169, 220, 233);" *matHeaderCellDef mat-sort-header [style.color]="'blue'"> Date of Birth </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.dob}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell  style="background-color: rgb(169, 220, 233);"*matHeaderCellDef mat-sort-header [style.color]="'blue'"> EmailID </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.email}} </td>
    </ng-container>

    <!--  Column -->
    <ng-container matColumnDef="password" >
        <th mat-header-cell style="background-color: rgb(169, 220, 233);" *matHeaderCellDef mat-sort-header> Password </th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.password}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="profile_id" >
        <th mat-header-cell style="background-color: rgb(169, 220, 233);" *matHeaderCellDef mat-sort-header [style.color]="'blue'"> Profile</th>
        <td mat-cell *matCellDef="let element" [style.color]="'black'"> {{element.profile_id}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell style="background-color: rgb(169, 220, 233);" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
        <button (click)="removeUser(row.username)" mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

<!-- Footer -->
<footer  class="work" style="background-color:rgba(184, 229, 255, 0.644)">

    <!-- Copyright -->
    <div style="margin-left: 42%; font-size: 1.2em;">© Travellers:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->