<div class="card" *ngIf="show">
    <table>
      <tr>
        <td style="padding: 2em;">
  <mat-card class="example-card mat-elevation-z6">
    <img mat-card-image src="../../assets/Images/summer1.png" style="max-height: 430px; max-width: 480px;">
    <mat-card-content>
        <h2> Travel+Leisure <br> Price: Rs 624 </h2>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
    </mat-card-actions>
  </mat-card>
      </td>
      <td style="padding: 2em;">
  <mat-card class="example-card mat-elevation-z6">
    <img mat-card-image src="../../assets/Images/summer2.png" style="max-height: 430px; max-width: 480px;">
    <h2> Budget Travel <br><div> Price: Rs 512 </div></h2>
    <mat-card-actions>
      <button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
    </mat-card-actions>
  </mat-card>
</td>
<td style="padding: 2em;">
    <mat-card class="example-card mat-elevation-z6">
      <img mat-card-image src="../../assets/Images/summer3.png" style="max-height: 430px; max-width: 480px;">
      <h2> LA Travel <br> Price: Rs 786 </h2>
      <mat-card-actions>
        <button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
      </mat-card-actions>
    </mat-card>
  </td>
</tr>

<tr>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/winter1.png" style="max-height: 430px; max-width: 480px;">
<h2> The Newyorker <br> Price: Rs 512 </h2>
<mat-card-actions>
<button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
</td>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/winter3.png" style="max-height: 430px; max-width: 480px;">
<h2> Travel+Leisure <br> Price: Rs 512 </h2>
<mat-card-actions>
<button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
</td>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/winter2.png" style="max-height: 430px; max-width: 480px;">
<h2> Traveller <br> Price: Rs 512 </h2>
<mat-card-actions>
<button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
</td>
</tr>

<tr>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/monsoon2.png" style="max-height: 430px; max-width: 480px;">
<h2> World Travel <br> Price: Rs 512 </h2>
<mat-card-actions>
<button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
</td>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/monsoon1.png" style="max-height: 430px; max-width: 480px;"> 
<h2> Planet-goa <br> Price: Rs 512 </h2>
<mat-card-actions>
<button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
</td>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/monsoon3.png" style="max-height: 430px; max-width: 480px;">
<h2> Wanderlust <br> Price: Rs 512 </h2>
<mat-card-actions>
<button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
</td>
</tr>
</table>
</div>



