<mat-toolbar class="work" style="background-color:rgba(184, 229, 255, 0.644)">
    <h1 style="margin-left: 42%; font-size: 1.1em;">MAGAZINE STORE</h1>
</mat-toolbar>
<marquee style="font-family: Rajdhani, sans-serif; background-color:rgba(184, 229, 255, 0.788);"  behavior="loop">Get 10% off on all magazines from 01-August-2021 to 06-August-2021</marquee>
<div class="wrapper">
    <mat-card class="container" *ngFor="let mag of mags | async">
      <img src="assets/Images/{{mag.coverimage}}"  style="max-height: 420px; max-width: 480px;">
        <div>
          <h2>{{mag.magname}}</h2>
          <h3 style="line-height: 0.5em;"><strike> Rs.{{mag.magprice}}</strike> &nbsp; <span style="color: green;">Rs.{{mag.discountprice}}</span> &nbsp; &nbsp;<span style="color: gray;">(10% off)</span></h3>
          <mat-card-actions>
          <button mat-raised-button color="accent" style="font-size: 1.25em;" (click)=addtocart(mag) >Add to Cart</button>
          </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <!-- <mat-form-field style="margin-left: 40%; width: 12%;"><input matInput type="search" value="search here"><mat-icon class="search">search</mat-icon></mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <mat-form-field style="margin-left:2%;">
      <mat-label >Sort by Price</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Low to High</mat-option>
        <mat-option value="2">High to Low</mat-option>
      </mat-select>
    </mat-form-field>  -->