<mat-toolbar class="work" style="background-color:rgba(184, 229, 255, 0.644)">
    <h1 style="margin-left: 42%; font-size: 1.2em;">MAGAZINE STORE</h1>
</mat-toolbar>

  <div class="wrapper">
    <mat-card class="container" *ngFor="let mag of mags | async">
      <!-- <div *ngFor="let image of Images">  -->
      <img src="assets/Images/{{mag.coverimage}}"  style="max-height: 420px; max-width: 480px;">
        <div>
          <h2>{{mag.magname}}</h2>
          <h3 style="line-height: 0.5em;">Rs {{mag.magprice}}</h3>
          <mat-card-actions>
          <button mat-raised-button color="accent" style="font-size: 1.25em;" (click)=addtocart(mag) >Add to Cart</button>
          </mat-card-actions>
        <!-- </div>  -->
      </div>
    </mat-card>
  </div>

  <!-- <mat-form-field style="margin-left: 40%; width: 12%;"><input matInput type="search" value="search here"><mat-icon class="search">search</mat-icon></mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <mat-form-field style="margin-left:2%;">
      <mat-label >Sort by Price</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Low to High</mat-option>
        <mat-option value="2">High to Low</mat-option>
      </mat-select>
    </mat-form-field>  -->