.todocard{
    width:70%;
    margin-top: 5%;
margin-left: 10%;
margin-right: 5%;
}
mat-toolbar{background-color:lightskyblue}
.btn{
    cursor: pointer;
  }
  .full-width{
    width: 60%;
    margin-top:20px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .todoitem{
      width:70%;
    /* margin: 5px 0; */
    margin-top: 3.5%;
    margin-left: 4%;
    color:honeydew;
    text-overflow: ellipsis
  }
  .done-true{
    text-decoration: line-through #d50000;
  }
  .done-false{
    text-decoration: none;
  }
