<mat-toolbar class="edittoolbar">
  <h1>Campaigns List</h1>
</mat-toolbar>
<div >
  <button class='btn1' mat-raised-button color="accent" style="font-size: 1.25em;" (click)="showHideOffers()"> Offers List</button>
  <div *ngIf="show" class="mat-elevation-z8 demo-table">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- festid Column -->
      <ng-container matColumnDef="festid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Festival ID </th>
        <td mat-cell *matCellDef="let element"> {{element.festid}} </td>
      </ng-container>

      <!-- festname Column -->
      <ng-container matColumnDef="festname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Festival Name </th>
        <td mat-cell *matCellDef="let element"> {{element.festname}} </td>
      </ng-container>

      <!-- Start date Column -->
      <ng-container matColumnDef="startdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> offer Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.startdate | date :'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Start date Column -->
      <ng-container matColumnDef="enddate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> offer Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.enddate | date :'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Start date Column -->
      <ng-container matColumnDef="offer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Offer %</th>
        <td mat-cell *matCellDef="let element"> {{element.offer}} </td>
      </ng-container>

      <!-- Start date Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Offer Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button (click)="openDialog()" mat-icon-button color="warn">
            <mat-icon>edit_outline</mat-icon>
          </button>

          <button (click)="uploadOffer()" mat-icon-button color="warn">
            <mat-icon>visibility</mat-icon>
          </button>

          <button (click)="removeUser(row.festid)" mat-icon-button color="warn">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>


<button mat-raised-button class="btn" (click)="showHideAdd()">Add Campaigns</button>
    <mat-card *ngIf="show1" class="mat-elevation-z8 addform">
        <mat-card-title style="padding: 0.5em 0.5em 0.5em 2em;" [style.color]="'purple'"> Set Campaigns Details Here</mat-card-title><br>
        <div>

          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label [style.color]="'black'">Festival Name</mat-label>
              <input matInput placeholder="Ex. Holi" [(ngModel)]="Offers.festname" name="festname">
            </mat-form-field>
          <br> 

          <mat-form-field class="example-full" appearance="outline">
            <mat-label [style.color]="'black'">Offer Start date</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="Offers.startdate" name="startdate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
           

          <mat-form-field class="example-full" appearance="outline">
            <mat-label [style.color]="'black'">Offer End date</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="Offers.enddate" name="enddate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
           

            <mat-form-field class="example-full" appearance="outline">
              <mat-label [style.color]="'black'">Offer</mat-label>
              <mat-select [(ngModel)]="Offers.offer" name="offer">
                <mat-option value="10%">10%</mat-option>
                <mat-option value="15%">15%</mat-option>
                <mat-option value="30%">30%</mat-option>
                <mat-option value="50%">50%</mat-option>
              </mat-select>
            </mat-form-field>

            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
           
           
            <mat-form-field class="example-full" appearance="outline">
              <mat-label [style.color]="'black'">Status</mat-label>
              <mat-select [(ngModel)]="Offers.status" name="status">
                <mat-option value="Active">Active</mat-option>
                <mat-option value="Deactive">Deactive</mat-option>
              </mat-select>
            </mat-form-field>

 
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label [style.color]="'black'">Add Image</mat-label>
              <input matInput>
              <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
            </mat-form-field>
          </form>
          </div>
    <button mat-raised-button color="accent" (click)="regCam()" style="margin-left:90%;">Save</button>
</mat-card>








