table {
    width:80%;
    margin: 0% 10% 0% 10%;
  }
  
  mat-card {
    width:78%;
    margin: 0% 10% 2% 10%;
  }
  
  mat-paginator{
    width:80%;
    margin: 0% 10% 4% 10%;
  }
  
  .btn{
    margin: 3% 17% 1% 81%;
    font-size:1.2em;
    height:2.5em;
    background-color:#5680e9;
    color: white;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-full {
    width: 50%;
  }
  .cp{
      text-align:center;
  }