<mat-toolbar class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded">&nbsp;<mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">&nbsp; Customer Dashboard</h1>
  <mat-icon matBadge={{totalitems}} matBadgeColor="warn" class="cart" routerLink="/customer/cart" style="cursor: pointer;">shopping_cart</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
					<mat-nav-list>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;" [routerLink]="['store']">&nbsp; Store</span>
							<mat-icon mat-list-icon>store</mat-icon>
						</mat-list-item>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;" [routerLink]="['cart']">&nbsp; Subscriptions</span>
							<mat-icon mat-list-icon>shopping_cart</mat-icon>
						</mat-list-item>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;" [routerLink]="['account']">&nbsp; Account</span>
							<mat-icon mat-list-icon>account_balance</mat-icon>
						</mat-list-item>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;" [routerLink]="['feedback']">&nbsp; FeedBack</span>
							<mat-icon mat-list-icon>Comment</mat-icon>
						</mat-list-item>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;" [routerLink]="['view']">&nbsp; Active Offers</span>
							<mat-icon mat-list-icon>list</mat-icon>
              <!-- <mat-select>
                <mat-option value="one">Summer</mat-option>
                <mat-option value="two">Winter</mat-option>
                <mat-option value="two">Monsoon</mat-option>
              </mat-select> -->
						</mat-list-item>
						<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing" style="font-size: 1.2em;" [routerLink]="['/login']">&nbsp; Logout</span>
							<mat-icon mat-list-icon>power_settings_new</mat-icon>
						</mat-list-item>
      </mat-nav-list>
</mat-sidenav>

	<!-- <div class="card">
        <table>
          <tr>
            <td style="padding: 2em;">
      <mat-card class="example-card mat-elevation-z6">
        <img mat-card-image src="../../assets/Images/summer1.png" style="max-height: 430px; max-width: 480px;">
        <mat-card-content>
            <h2> Travel+Leisure <br> Price: Rs 624 </h2>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;">Subscribe</button>
        </mat-card-actions>
      </mat-card>
          </td>
          <td style="padding: 2em;">
      <mat-card class="example-card mat-elevation-z6">
        <img mat-card-image src="../../assets/Images/summer2.png" style="max-height: 430px; max-width: 480px;">
        <h2> Budget Travel <br><div> Price: Rs 512 </div></h2>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;">Subscribe</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td style="padding: 2em;">
        <mat-card class="example-card mat-elevation-z6">
          <img mat-card-image src="../../assets/Images/summer3.png" style="max-height: 430px; max-width: 480px;">
          <h2> LA Travel <br> Price: Rs 786 </h2>
          <mat-card-actions>
            <button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;">Subscribe</button>
          </mat-card-actions>
        </mat-card>
      </td>
   </tr>

   <tr>
    <td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/winter1.png" style="max-height: 430px; max-width: 480px;">
<h2> The Newyorker <br> Price: Rs 512 </h2>
<mat-card-actions>
  <button mat-raised-button color="accent"  (click)="openDialog()" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
  </td>
  <td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/winter2.png" style="max-height: 430px; max-width: 480px;">
<h2> Travel+Leisure <br> Price: Rs 512 </h2>
<mat-card-actions>
  <button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
</td>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
  <img mat-card-image src="../../assets/Images/winter3.png" style="max-height: 430px; max-width: 480px;">
  <h2> Traveller <br> Price: Rs 512 </h2>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="openDialog()" style="font-size: 1.25em;">Subscribe</button>
  </mat-card-actions>
</mat-card>
</td>
</tr>

<tr>
    <td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/monsoon1.png" style="max-height: 430px; max-width: 480px;">
<h2> World Travel <br> Price: Rs 512 </h2>
<mat-card-actions>
  <button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
  </td>
  <td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
<img mat-card-image src="../../assets/Images/monsoon2.png" style="max-height: 430px; max-width: 480px;"> 
<h2> Planet-goa <br> Price: Rs 512 </h2>
<mat-card-actions>
  <button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
</mat-card-actions>
</mat-card>
</td>
<td style="padding: 2em;">
<mat-card class="example-card mat-elevation-z6">
  <img mat-card-image src="../../assets/Images/monsoon3.png" style="max-height: 430px; max-width: 480px;">
  <h2> Wanderlust <br> Price: Rs 512 </h2>
  <mat-card-actions>
    <button mat-raised-button color="accent" style="font-size: 1.25em;">Subscribe</button>
  </mat-card-actions>
</mat-card>
</td>
</tr>
    </table>
    </div> -->
    <!-- <app-biling></app-biling> -->
    <!-- <app-account></app-account>
    <app-store></app-store> -->


<router-outlet></router-outlet>
</mat-sidenav-container>